{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Page Title</title>
	</head>
	<body style="background-color:powderblue;">
	<noscript>&lt;iframe src="//www.googletagmanager.com/ns.html?id=GTM-6PVX"
	height="0" width="0" style="display:none;visibility:hidden"&gt;&lt;/iframe&gt;</noscript>
	<div class="row">
				<div class="top-description">
					<div class="col-lg-7 col-md-5 col-md-offset-1 col-lg-offset-0 col-sm-offset-1 col-sm-10">
						<h1>Formularios de Contacto Gratis</h1>
						<div class="col-lg-10 no-padding-left">
							<h2>¿Buscas una herramienta sencilla e inteligente para formularios de contacto?<br><br>¡Entonces estas en el lugar correcto! 123ContactForm te ayuda a crear todo tipo de formularios online sin conocimientos de programación. <br><br>¡Así que no dudes más y prueba ahora nuestro creador de formularios gratis!</h2>
						</div>
						<div class="col-sm-12">
							<div class="center-arrow">
								<img src="//www.123contactform.com/landing/template-landing-specific-generic/img/arrow.png" class="img-responsive bounce">
							</div>
						</div>
						
					</div>
				</div>
				<div class="col-lg-offset-0 col-md-offset-0 col-md-6 col-lg-5 col-sm-offset-2 col-sm-8">
					<div class="form">
						    <p>Get started for free</p>

    <form id="sign-up" class="form-horizontal form-signin " method="post" action="https://www.123contactform.com/index.php?p=new_user_validate&amp;plan=0&amp;u_openidtype=0" "="">


    <div class="form-group form-group-margin">
        <label for="inputEmail" class="control-label no-mobile-display">Email</label>
        <input type="email" name="u_econtact" autofocus="" value="" class="form-control input-width-300  ajax-convert-lable field-required input-error" data-placeholder="E-mail" id="u_econtact" placeholder="">
    </div>


    <div class="form-group form-group-margin">
        <label for="inputPassword" class="control-label no-mobile-display">Password</label>
        <input type="password" name="u_pass" value="" class="form-control input-width-300 ajax-convert-lable field-required " data-placeholder="Password" id="u_pass" placeholder="">
    </div>


    <div class="form-group form-group-margin">
        <label for="inputPasswordConfirm" class="control-label no-mobile-display">Confirm password</label>
        <input type="password" name="u_pass2" value="" class="form-control input-width-300 ajax-convert-lable field-required " data-placeholder="Confirm password" id="u_pass2" placeholder="">
    </div>


    <div class="form-group margin-bottom-100 mobile-bottom-50">
        <button id="submit-form-button" class="btn btn-sm btn-success center mobile-bottom-10" type="submit">Sign up</button>
    </div>


    <input type="hidden" name="PHPSESSID" value="ji59rgh3j74ru8rbclq8fmeml1" id="PHPSESSID">
    <input type="hidden" name="theToken" value="160903d29409368d7f2807ae2">
    <input type="hidden" name="signup_src" value="orig">
    <script type="text/javascript">var theToken = '160903d29409368d7f2807ae2';</script>
    </form>
    <p class="new-login">Already have an account? <a href="https://www.123contactform.com/index.php?p=login">Login</a></p>

    
					</div>
				</div>
			</div>		
	</body>
</html>	

